.side-bar{
    color: white;
    background-color: rgb(16, 10, 10);
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
}
.sidebar1{
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    width: 330px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.library{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.create-btn{
    padding: 12px 16px 12px 16px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    margin-right: 10px;
    color: white;
    background-color: rgb(66, 34, 34);
    cursor: pointer;
}
.slide-content{
    background-color:gray;
    width: 330px;
    border-radius: 10px;
}
.p1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    margin-bottom: 0;
}
.p2{
    font-size: 500;
    padding-left: 10px;
    margin-top: 10px;
}
.slide-create-btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 8px;
}
.slider-track {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100px; /* fixed height - content overflows below */
  gap: 12px;
  scrollbar-width: none;
  border-radius: 10px;
}

.slider-track::-webkit-scrollbar {
  display: none;
}

.slide-content {
  flex-shrink: 0; /* stops content from squishing */
  padding: 16px;
}
.link-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  max-width: 320px;
}

.link-footer a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.link-footer a:hover {
  color: #fff;
}
.link-header{
    margin-top: 50px;
}
.english-icon{
    width: 20px;
}



@media(max-width:1024px){
    .side-bar{
        display: none;
    }
}